.a-container{
	width:1080px;
	top:10px;
}
.a-body{
	width:80%;
	left:0px;
	margin-right:0px;
}
.a-left-side, .a-body, .a-right-side{
	
}

.a-left-side{
	top:0px;
	position:relative;
	width:19%;
	left:0px;
	margin-right:1%;
}

.nav-category{
	float:none;
	width:1080px;
	top:70px;
	right:0px;
	left:0px;
	margin:0 auto;
	background-color:rgb(7, 156, 88);
}
.nav-search{
	position:static;
	float:none;
}  
.nav-category li{
	font-size:15px;
	background-color:rgba(1, 119, 66, 0.38);
	margin-right:2px;
	margin-left:0px;
	padding:10px 15px;
	margin-right:2px;

}
.user-profile-info{
	z-index:20;
}
.nav-category ul{
	margin-top:0px;
}
.user-profile img{
	border-radius:0px;
	margin-top:11px;
	margin-right:5px;
} 
.a-container{
	margin-top:10px;
}

.a-nav{
	min-height:150px;
	position:static;
} 